region                    = "{{ region_name }}"
config_file_profile       = "{{ config_file_profile }}"
tenancy_ocid              = "{{ tenancy_id }}"
compartment_ocid          = "{{ compartment_id }}"

cert_fullchain          = "{{{ cert_fullchain }}}"
cert_private_key        = "{{{ cert_private_key }}}"

ssh_public_key          = "{{{ ssh_public_key}}}"
ssh_private_key_path    = "{{{ ssh_private_key_path}}}"