region                        = "{{ regionName }}"
tenancy_ocid                  = "{{ tenancyId }}"
config_file_profile           = "{{ profile }}"
compartment_ocid              = "{{ compartmentId }}"
ssh_public_key                = "{{{ ssh_public_key }}}"
ssh_private_key_path          = "{{{ ssh_private_key_path }}}"
cert_fullchain                = "{{{ cert_fullchain }}}"
cert_private_key              = "{{{ cert_private_key }}}"