region                        = "{{ regionName }}"
tenancy_ocid                  = "{{ tenancyId }}"
compartment_ocid              = "{{ compartmentId }}"
ssh_public_key                = "{{{ ssh_public_key }}}"
ssh_private_key_path          = "{{{ ssh_private_key_path }}}"
cert_fullchain                = "{{{ cert_fullchain }}}"
cert_private_key              = "{{{ cert_private_key }}}"
genai_endpoint                = "{{{ genai_endpoint }}}"

# web_artifact_url              = ""
# backend_artifact_url          = ""
# ansible_web_artifact_url      = ""
# ansible_backend_artifact_url  = ""