# Database
DB_USER=db_usr
DB_PASSWORD=<db_password>
DB_DSN=<db_dsn>

# Oracle wallet / SSL configuration directory
SSL_CONFIG_DIR=<ssl-directory>

# OCI IAM Credentials 
# Purpose: Used by Oracle End User Security propagation.
CLIENT_ID=<midtier-app-client-id>
CLIENT_CREDENTIAL=<midtier-app-client-secret>
AUTHORITY=<authority>
SCOPES=<DB-app-scope>