# VecDB
VECDB_REST_URL=
VECDB_USERNAME=
VECDB_PASSWORD=
VECDB_SELF_SIGNED_SSL=false

# PASC
PASC_HOST=
PASC_API_KEY=
PASC_CERT=
PASC_MODEL=

# Optional cleanup
DROP_TABLE_WHEN_DONE=false

# Optional proxies (only if required by your network)
HTTP_PROXY=http://your-proxy:80
HTTPS_PROXY=http://your-proxy:80
NO_PROXY=localhost,127.0.0.1
