asn1crypto==1.5.1
asyncio==3.4.3
cached-property==1.5.2
certifi==2024.7.4
cffi==1.16.0
circuitbreaker==1.4.0
cryptography==43.0.1
oci==2.126.2
pycparser==2.21
pyOpenSSL==24.1.0
python-dateutil==2.8.2
python-pkcs11==0.7.0
pytz==2023.3.post1
six==1.16.0
throttler==1.2.2
websockets==12.0
pypdf==4.2.0