# Copy to ".env" and fill real values. .env is git-ignored.
DB_USER=db_usr
DB_PASSWORD=<db_password>
DB_DSN=<db_dsn>

# Oracle wallet / SSL configuration directory
SSL_CONFIG_DIR=<ssl-directory>

# Microsoft Entra ID application credentials
# Purpose: Used by Oracle End User Security propagation.

DB_CLIENT_ID=<midtier-app-client-id>
DB_CLIENT_CREDENTIAL=<midtier-app-client-secret>
DB_AUTHORITY=https://login.microsoftonline.com/<tenant-id>
DB_SCOPES=https://<your-tenant>.onmicrosoft.com/<db-app-id>/.default


# Client application used for interactive user authentication
# Purpose: Authenticate end users and obtain delegated access tokens.

AZURE_CLIENT_ID=<client-app-client-id>
AZURE_TENANT_ID=<tenant-id>
AZURE_SCOPES=https://<your-tenant>.onmicrosoft.com/<midtier-app-id>/.default
