WHENEVER SQLERROR EXIT SQL.SQLCODE

BEGIN
    DBMS_CLOUD.DROP_CREDENTIAL(credential_name => 'OCI_API_KEY_CRED');
EXCEPTION
    WHEN OTHERS THEN NULL;
END;
/

BEGIN
    DBMS_CLOUD.CREATE_CREDENTIAL(
        credential_name => 'OCI_API_KEY_CRED',
        user_ocid       => '{{ user_ocid }}',
        tenancy_ocid    => '{{ tenancy_ocid }}',
        private_key     => '{{ private_api_key_content }}',
        fingerprint     => '{{ fingerprint }}'
    );
END;
/

EXIT;
