ORACLE_DSN=limitlessdev_medium
ORACLE_USER=LIMITLESS
ORACLE_PASSWORD=
ORACLE_WALLET_LOCATION=
ORACLE_WALLET_PASSWORD=

ORACLE_VECTOR_ENABLED=false
ORACLE_EMBEDDING_MODEL=cohere.embed-english-light-v3.0
ORACLE_VECTOR_TABLE=LIMITLESS_RESEARCH_VS
ORACLE_VECTOR_INDEX_NAME=LIMITLESS_RESEARCH_HNSW_IDX

OCI_REGION=us-chicago-1
OCI_COMPARTMENT_ID=
OCI_CONFIG_FILE=~/.oci/config
OCI_AUTH_PROFILE=DEFAULT
OCI_AUTH_TYPE=API_KEY
OCI_GENAI_ENDPOINT=

OBSIDIAN_VAULT_PATH=Limitless
