resources:
  - "../../ingress"
  - "../../app"
  - "../../backend"

images:
- name: app
  newName: {{region_key}}.ocir.io/{{{tenancy_namespace}}}/{{{project_name}}}/app
  newTag: {{{web_version}}}
- name: backend
  newName: {{region_key}}.ocir.io/{{{tenancy_namespace}}}/{{{project_name}}}/backend
  newTag: {{{backend_version}}}